:host {
  display: block;
}

.io {
  display: flex;
  gap: var(--gbs-spacer-200);
}

button,
.file-button {
  display: inline-flex;
  align-items: center;
  font: inherit;
  padding: var(--gbs-spacer-100) var(--gbs-spacer-200);
  color: var(--gbs-color-code-token-default);
  background-color: var(--gbs-color-default-700);
  border: none;
  border-radius: var(--gbs-border-radius);
  cursor: pointer;
}

button:hover,
.file-button:hover {
  background-color: var(--gbs-color-hover);
  color: var(--gbs-color-hover-secondary);
}

.status {
  margin: var(--gbs-spacer-200) 0 0;
  font-size: var(--gbs-font-size-200);
}
